html, body {
  background-color: #030712; /* This is Tailwind's gray-950 */
  color: white;
  
  /* Optional: This completely stops the "bounce" effect when scrolling past the top/bottom on Mac and iOS */
  overscroll-behavior: none; 
}